include _mixin
div.navbar#nav(gumby-fixed="top")
   div.row
      a.toggle(gumby-trigger!="#nav > .row > ul", href="#")
         i.icon-menu
      h1.logo.mobile
         a(href="index.html")
            img(src="img/SJTU-white@2x.png", alt="SJTU")
      ul.twelve.columns
         +li_a("index.html", "Home")(span, i_pos="right", i="icon-home")
         +li_a("#", "Research")(span, i_pos="right", i="icon-graduation-cap")
            div.dropdown
               ul
                  +li_a("publication.html", "Stochastic Networks")
                  +li_a("publication.html", "Network Economics")
                  +li_a("system.html", "Systems")
                  +li_a("#", "Big Data")
                     div.dropdown
                        ul
                           +li_a("//spark.sjtu.edu.cn", "Spark")(target="_blank")
                           li.qr
                              span
                                 img(src="img/qr-spark.png")
                           +li_a("//smartbdn.sjtu.edu.cn", "Smart Big Data Network")(target="_blank")
                           li.qr
                              span
                                 img(src="img/qr-smartbdn.png")
                           +li_a("//medialab.sjtu.edu.cn", "Media Lab")(target="_blank")
         +li_a("publication.html", "Publications")(span, i_pos="right", i="icon-book-open")
            //-div.dropdown
            //-   ul
            //-      +li_a("#", "Item")
            //-      +li_a("#", "NESTED")
            //-         div.dropdown
            //-            ul
            //-               +li_a("", "nested")
         +li_a("service.html", "Professional Services")(span, i_pos="right", i="icon-briefcase")
         +li_a("student_globe.html", "Students")(span, i_pos="right", i="icon-users")
         +li_a("#", "More")(span, i_pos="right", i="icon-dot-3")
            div.dropdown
               ul
                  +li_a("teaching.html", "Teaching")(i_pos="right", i="icon-book")
                  +li_a("biography.html", "Biography")(i_pos="right", i="icon-user")
                  +li_a("photo.html", "Photos")(i_pos="right", i="icon-picture")
                  +li_a("//iwct.sjtu.edu.cn/Personal/xwang8/links.htm", "Links")(i_pos="right", i="icon-link")
