.splash
   .row
      div
         h1(style="font-family:'Book Antiqua';font-size:1.6em;text-transform:uppercase;")
            <span>S</span>hanghai <span>J</span>iao <span>T</span>ong <span>U</span>niversity
         h5.ui-font School of Electronic, Information & Electrical Engineering