extends _base

block vars
   - var title = "Homepage"
   - var body_id = "home"
   - var footer_shaded = true

block content
   include _splash
   include _navbar
   .wrapper
      section.row#wxb_intro
         figure.qr
            img(src="img/qr-xwang8.png")
         article.eight.columns
            h2 Xinbing Wang 王新兵
            dl
               dd Distinguished Professor, Assistant Dean
               dd Ph.D. Supervisor in both EE & CS Department
               dd School of Electronic, Information & Electrical Engineering
               dd Shanghai Jiao Tong University
            dl
               dd Editor for IEEE/ACM Transactions on Networking
               dd Associate Editor for IEEE Transactions on Mobile Computing
            dl
               dd Office: SEIEE Building 5-301A
               dd Email:
                  div(style="display: inline-table;")
                     a(href!="mailto:&#120;&#119;&#097;&#110;&#103;&#056;&#064;&#115;&#106;&#116;&#117;&#046;&#101;&#100;&#117;&#046;&#099;&#110;")!=" &#120;&#119;&#097;&#110;&#103;&#056;&#064;&#115;&#106;&#116;&#117;&#046;&#101;&#100;&#117;&#046;&#099;&#110;"
                     br
                     a(href!="mailto:&#119;&#097;&#110;&#103;&#045;&#120;&#098;&#064;&#099;&#115;&#046;&#115;&#106;&#116;&#117;&#046;&#101;&#100;&#117;&#046;&#099;&#110;")!="&#119;&#097;&#110;&#103;&#045;&#120;&#098;&#064;&#099;&#115;&#046;&#115;&#106;&#116;&#117;&#046;&#101;&#100;&#117;&#046;&#099;&#110;"
   .wrapper
      section.row#whats-new
         article.four.columns
            figure
               img(src="img/home.updates.png" alt="What's new")
               h3 What's New
         article.eight.columns
            table.striped#whats-new-table
               tbody
                  tr
                     td
                        +t_cite("K. Sheng, Z. Gu, X. Mao, X. Tian, W. Wu, X. Gan, Xinbing Wang",
                        "The Collocation of Measurement Points in Large Open Indoor Environment",
                        "in",
                        "Proc. of IEEE INFOCOM",
                        "Hong Kong, China, Apr, 2015",
                        {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2015_collocation.pdf"},
                        {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2015_collocation_Tech.pdf", title:"Technical Report"},
                        {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2015_collocation_slides.pptx", title:"Slides PPT"})
                  tr
                     td
                        +t_cite("Q. Zhang, Y. Wen, X. Tian, X. Gan, Xinbing Wang",
                        "Incentivize Crowd Labeling under Budget Constraint",
                        "in",
                        "Proc. of IEEE INFOCOM",
                        "Hong Kong, China, Apr, 2015",
                        {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2015_crowd.pdf"},
                        {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2015_crowd_slides.pptx", title:"Slides PPT"})
                  tr
                     td
                        +t_cite("C. Ma, W. Wu, Y. Cui, Xinbing Wang",
                        "On the Performance of Successive Interference Cancellation in D2D-enabled Cellular Networks",
                        "in",
                        "Proc. of IEEE INFOCOM",
                        "Hong Kong, China, Apr, 2015",
                        {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2015_D2D.pdf"},
                        {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2015_D2D_Tech.pdf", title:"Technical Report"},
                        {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2015_D2D_slides.pdf", title:"Slides PPT"})
                  tr
                     td
                        +t_cite("Y. Wen, X. Tian, Xinbing Wang, S. Lu",
                        "Fundamental Limits of RSS Fingerprinting based Indoor Localization",
                        "in",
                        "Proc. of IEEE INFOCOM",
                        "Hong Kong, China, Apr, 2015",
                        {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2015_indoorlocalization.pdf"})
                  tr
                     td
                        +t_cite("C. Kong, Z. Yuan, X. Han, F. Yang, Xinbing Wang, T. Wang, S. Lu",
                        "VSMC MIMO: A Spectral Efficient Scheme for Cooperative Relay in Cognitive Radio Networks",
                        "in",
                        "Proc. of IEEE INFOCOM",
                        "Hong Kong, China, Apr, 2015",
                        {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2015_VSMC_MIMO.pdf"},
                        {url:"http://iwct.sjtu.edu.cn/Personal/xwang8/paper/INFOCOM2015_VSMC_MIMO_slides.pptx", title:"Slides PPT"})
                  tr
                     td
                        a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.htm") Photo page is updated
                  tr
                     td Our Spark system webpage is available (<a href="//spark.sjtu.edu.cn">spark.sjtu.edu.cn</a>)
                  tr
                     td Our smart big data network webpage is available (<a href="//smartbdn.sjtu.edu.cn/index.html">smartbdn.sjtu.edu.cn</a>)
                  tr
                     td IEEE ComSoc Asia-Pacific Outstading Paper Award 2014
