extends _base



block vars
   - var title = "Homepage"
   - var body_id = "home"
   - var footer_shaded = true



block content
   include _splash
   include _navbar
   .wrapper
      section.row#wxb_intro
         article.eight.columns
            h2 Xinbing Wang 王新兵
            dl
               dd Distinguished Professor, Assistant Dean
               dd Ph.D. Supervisor in both EE & CS Department
               dd School of Electronic, Information & Electrical Engineering
               dd Shanghai Jiao Tong University
            dl
               dd Editor for IEEE/ACM Transactions on Networking
               dd Editor for IEEE Transactions on Mobile Computing
            dl
               dd Office: SEIEE Building 1-439
               dd Email:
                  div(style="display: inline-table;")
                     a(href!="mailto:&#120;&#119;&#097;&#110;&#103;&#056;&#064;&#115;&#106;&#116;&#117;&#046;&#101;&#100;&#117;&#046;&#099;&#110;")!=" &#120;&#119;&#097;&#110;&#103;&#056;&#064;&#115;&#106;&#116;&#117;&#046;&#101;&#100;&#117;&#046;&#099;&#110;"
                     br
                     a(href!="mailto:&#119;&#097;&#110;&#103;&#045;&#120;&#098;&#064;&#099;&#115;&#046;&#115;&#106;&#116;&#117;&#046;&#101;&#100;&#117;&#046;&#099;&#110;")!="&#119;&#097;&#110;&#103;&#045;&#120;&#098;&#064;&#099;&#115;&#046;&#115;&#106;&#116;&#117;&#046;&#101;&#100;&#117;&#046;&#099;&#110;"
               dd Homepage:
                  div(style="display: inline-table;")
                     a#replace1(href!="http://iwct.sjtu.edu.cn/Personal/xwang8/")!="http://iwct.sjtu.edu.cn/Personal/xwang8/"
                     br
                     a#replace2(href!="http://www.cs.sjtu.edu.cn/~wang-xb/")!="http://www.cs.sjtu.edu.cn/~wang-xb/"

   .wrapper
      section.row#whats-new
         article.four.columns
            figure
               img(src="img/home.updates.png " alt="What's new")
               h3 What's New
         article.eight.columns
            table.striped#whats-new-table
               tbody
                  tr
                     td
                        +t_cite("B. Wang, G. Chen, L. Fu, L. Song, Xinbing Wang, X. Liu",
                        "DRIMUX: Dynamic Rumor Influence Minimization with User Experience in Social Networks",
                        "in",
                        "Prof. of AAAI",
                        "Phoenix, AZ, US, 2016.(Corresponding Author)")
                  tr
                     td
                        +t_cite("J. Shen, Z. Song, S. Li, Z. Tan, Y. Mao, L. Fu, L. Song, Xinbing Wang",
                        "Modeling Topic-level Academic Influence in Scientific Literatures",
                        "in",
                        "Prof. of AAAI, workshop on Scholarly Big Data",
                        "Phoenix, AZ, US, 2016.(Corresponding Author)")
                  tr
                     td An introduction video of our multi-hop network system is available(<a href="http://v.youku.com/v_show/id_XMTM1Nzc4OTY0MA==.html?from=y1.7-1.2">Watch at Youku</a>)
                        <video src="http://www.cs.sjtu.edu.cn/~wang-xb/video/video1.mov"  height="360px" controls="controls"></video>
                  tr
                     td An introduction video of our indoor locating system is available(<a href="http://v.youku.com/v_show/id_XMTM1NDMyNjk1Ng==.html">Watch at Youku</a>)
                         <video src="http://www.cs.sjtu.edu.cn/~wang-xb/video/video0.mp4"  height="360px" controls="controls"></video>
                  tr
                     td
                        a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/photo.html") Photo page is updated
                  tr
                     td
                        +t_cite("H. Gong, L. Zhao, K. Wang, W. Wu, Xinbing Wang",
                        "A Distributed Algorithm to Construct Multicast Trees in WSNs: An Approximate Steiner Tree Approach",
                        "in",
                        "Proc. of ACM MobiHoc",
                        "Hangzhou, China, June, 2015.(Corresponding Author)",
                        {url: "http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiHoc2015.pdf"},
                        {url: "http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiHoc2015_slides.pptx",  title: "Slides PPT"},
                        {url: "http://iwct.sjtu.edu.cn/Personal/xwang8/paper/MobiHoc2015_TechReport.pdf",  title: "Technical Report"},
                        {url: "http://iwct.sjtu.edu.cn/Personal/xwang8/paper/TST_sourcecode.zip",  title: "Alogorithm SourceCode"})
                  tr
                     td Our Intelligent IOT webpage is available (<a href="//iiot.sjtu.edu.cn/">iiot.sjtu.edu.cn</a>)

block append scripts
   script.
      var current_path = window.location.href;
      var $replace1 = $('#replace1');
      var $replace2 = $('#replace2')
      if (current_path.indexOf("iwct")>0) {
         $replace1.html('http://iwct.sjtu.edu.cn/Personal/xwang8/')
         $replace1.attr('href', 'http://iwct.sjtu.edu.cn/Personal/xwang8/')
         $replace2.html('http://www.cs.sjtu.edu.cn/~wang-xb/')
         $replace2.attr('href', 'http://www.cs.sjtu.edu.cn/~wang-xb/')
      }
      else {
         $replace2.html('http://iwct.sjtu.edu.cn/Personal/xwang8/')
         $replace2.attr('href', 'http://iwct.sjtu.edu.cn/Personal/xwang8/')
         $replace1.html('http://www.cs.sjtu.edu.cn/~wang-xb/')
         $replace1.attr('href', 'http://www.cs.sjtu.edu.cn/~wang-xb/')
      }