extends _base
block vars
    - var title = "Photo"
    - var body_id = "photo"
    - var footer_shaded = true
block content
    include _splash
    include _navbar
    .wrapper
        section.row.grid-wrap
            ul.grid.swipe-right#grid
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image002.jpg")(title="Happy New Year Party of 2015/1/1")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image004.jpg")(title="Happy New Year Party of 2015/1/1")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image006.jpg")(title="Happy New Year Party of 2015/1/1")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image008.jpg")(title="Happy New Year Party of 2015/1/1")
                li.title-box
                    h2 US trip on Dec 2014 with my students
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image010.jpg")(title="Students @ UTaxas, UCDavis, UNL, Purdue")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image012.jpg")(title="Students @ Caltech, UCLA, USC")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image014.jpg")(title="Students @ Stanford")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image016.jpg")(title="Students @ Stanford")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image018.jpg")(title="Students @ UTaxas")
                li.title-box
                    h2 US trip on Dec 2014 with faculty
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image020.jpg")(title="Prof. P. R. Kumar @TAMU")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image022.jpg")(title="Prof. Gustavo de Veciana @ UTaxas")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image024.jpg")(title="Prof. Tie Liu @TAMU")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image026.jpg")(title="Prof. I-Hong Hou @ TAMU")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image028.jpg")(title="Prof. Dmitri Loguinov @ TAMU")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image030.jpg")(title="Prof. David Tse @ Stanford University’s visit, Oct 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image032.jpg")(title="Prof. David Tse @ Stanford University’s visit, Oct 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image034.jpg")(title="Photo with My First Billionaire Student, Sept 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image036.jpg")(title="Photo with My First Billionaire Student, Sept 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image038.jpg")(title="New Semester Party, Sept 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image040.jpg")(title="New Semester Party, Sept 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image042.jpg")(title="National Scholarship and Best Presentation Award Celebration, 2014")
                li.title-box
                    h2
                        a(href="http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/2014-xiamentravel.pdf") Group Travel to Xiamen, Aug 2014
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image048.jpg")(title="MobiHoc 2014, Aug 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image050.jpg")(title="MobiHoc 2014, Aug 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image052.jpg")(title="Happy Birthday to Luoyi Fu, May 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image054.jpg")(title="INFOCOM 2014， April 2014, Toronto, Canada")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image056.jpg")(title="INFOCOM 2014， April 2014, Toronto, Canada")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image058.jpg")(title="INFOCOM 2014， April 2014, Toronto, Canada")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image060.jpg")(title="INFOCOM 2014， April 2014, Toronto, Canada")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image062.jpg")(title="Graduation, April 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image064.jpg")(title="Congratulations to Guanglin Zhang for his daughter, April 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image066.jpg")(title="Congratulations to Gaofei Sun for being a father, Feb 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image068.jpg")(title="Group party for the new year’s eve, Jan 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image070.jpg")(title="Group party for the new year’s eve, Jan 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image072.jpg")(title="Group party for the new year’s eve, Jan 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image074.jpg")(title="Group party for the new year’s eve, Jan 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image076.jpg")(title="Group party for the new year’s eve, Jan 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image078.jpg")(title="Group party for the new year’s eve, Jan 2014")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image080.jpg")(title="Prof. Songwu Lu@UCLA’s visit Dec 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image082.jpg")(title="Prof. Songwu Lu@UCLA’s visit Dec 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image084.jpg")(title="Prof. Baochun Li@UToronto’s visit, Nov 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image086.jpg")(title="Prof. Baochun Li@UToronto’s visit, Nov 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image088.jpg")(title="Congratulations to Jinbei’s National Scholarship Award, Nov 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image090.jpg")(title="Congratulations to Jinbei’s National Scholarship Award, Nov 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image092.jpg")(title="Congratulations to Jinbei’s National Scholarship Award, Nov 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image094.jpg")(title="Congratulations to Jinbei’s National Scholarship Award, Nov 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image096.jpg")(title="Congratulations to Ma Chuan for IEEE WCSP 2013 Best Paper Award")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image098.jpg")(title="Mid-Autumn holiday dinner, Sept 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image098.jpg")(title="Summer Trip to Mountain Hua (华山之旅)， Aug 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image100.jpg")(title="Summer Trip to Mountain Hua (华山之旅)， Aug 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image102.jpg")(title="Summer Trip to Mountain Hua (华山之旅)， Aug 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image104.jpg")(title="Summer Trip to Mountain Hua (华山之旅)， Aug 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image106.jpg")(title="Summer Trip to Mountain Hua (华山之旅)， Aug 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image108.jpg")(title="Summer Trip to Mountain Hua (华山之旅)， Aug 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image110.jpg")(title="Congratulations to Qin Yi’s Marriage (Honeymoon at The Republic of Maldives, 马尔代夫)，July 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image112.jpg")(title="Congratulations to Qin Yi’s Marriage (Honeymoon at The Republic of Maldives, 马尔代夫)，July 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image114.jpg")(title="Graduation, May 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image116.jpg")(title="Party for Zhang Jinbei’s first TON paper, March, 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image118.jpg")(title="Party for Zhang Jinbei’s first TON paper, March, 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image119.jpg")(title="Party for Zhang Jinbei’s first TON paper, March, 2013")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image120.jpg")(title="Party for Zhang Jinbei’s first TON paper, March, 2013")
                li.title-box
                    h2
                        a(href="http://www.tudou.com/programs/view/TR3oneT6Nok/") Congratulation Video for Xinxin's marriage
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image122.jpg")(title="Graduation, May 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image123.jpg")(title="Prof. Xiaojun Lin@Purdue, 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image124.jpg")(title="Prof. Xiaojun Lin@Purdue, 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image125.jpg")(title="Prof. Xiaojun Lin@Purdue, 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image126.jpg")(title="Prof. Xiaojun Lin@Purdue, 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image127.jpg")(title="Yellow Mountain Trip 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image128.jpg")(title="Yellow Mountain Trip 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image129.jpg")(title="Yellow Mountain Trip 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image130.jpg")(title="Yellow Mountain Trip 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image131.jpg")(title="Yellow Mountain Trip 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image132.jpg")(title="Yellow Mountain Trip 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image133.jpg")(title="Dinner Party, 2012")
                +li_a_img("http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image134.jpg")(title="Dinner Party, 2012")
block append scripts
    script(src="js/libs/modernizr.custom.js")
    script(src="js/libs/masonry.pkgd.min.js")
    script(src="js/libs/imagesloaded.pkgd.min.js")
    script(src="js/libs/classie.js")
    script(src="js/libs/colorfinder-1.1.js")
    script(src="js/libs/gridScrollFx.js")
    script.
        new GridScrollFx(document.getElementById('grid'),
                {viewportFactor: 0.4}
        );