extends _base

block vars
   - var title = "Projects"
   - var body_id = "projects"
   - var footer_shaded = true
block content
   include _splash
   include _navbar
   .wrapper
      section.row
         h2 Selected Grants
      section.row
         h3.two.columns 1
         table.table.ten.columns
            tbody
               tr
                  td Topic
                  td Distributed Resource Allocation for Wireless Networks
               tr
                  td Source
                  td
                     a(href="//www.nfsc.gov.cn/", target="_blank") National Science Foundation of China (NSFC)
                     |, China
               tr
                  td Duration
                  td 01-01-2008 to 12-31-2010
               tr
                  td Principal Investigator
                  td Xinbing Wang
      section.row
         h3.two.columns 2
         table.table.ten.columns
            tbody
               tr
                  td Topic
                  td Data Link Design for Airplane Landing
               tr
                  td Source
                  td
                     a(href="//www.most.gov.cn/", target="_blank") National Fundamental Research of China (973 Project)
                     |, China
               tr
                  td Duration
                  td 01-01-2010 to 12-31-2013
               tr
                  td Principal Investigator
                  td Xinbing Wang
      section.row
         h3.two.columns 3
         table.table.ten.columns
            tbody
               tr
                  td Topic
                  td LTE Advance Standardization on Multiple Access
               tr
                  td Source
                  td
                     a(href="http://www.nfsc.gov.cn", target="_blank") National Key Project of China, Ministry of Science and Technology
                     |, China
               tr
                  td Duration
                  td 09-01-2009 to 12-31-2010
               tr
                  td Principal Investigator
                  td Xinbing Wang
      section.row
         h3.two.columns 4
         table.table.ten.columns
            tbody
               tr
                  td Topic
                  td Spectrum Allocation for Cognitive Radio Networks
               tr
                  td Source
                  td
                     a(href="http://www.nfsc.gov.cn", target="_blank") National Science Foundation of China (NSFC)
                     |, China
               tr
                  td Duration
                  td 01-01-2013 to 12-31-2016
               tr
                  td Principal Investigator
                  td Xinbing Wang
      section.row
         h3.two.columns 5
         table.table.ten.columns
            tbody
               tr
                  td Topic
                  td Resource Allocation and Performance Analysis for Wireless Networks
               tr
                  td Source
                  td
                     a(href="http://www.nfsc.gov.cn", target="_blank") National Science Foundation of China (NSFC)
                     |, China
               tr
                  td Duration
                  td 01-01-2014 to 12-31-2017
               tr
                  td Principal Investigator
                  td Xinbing Wang
