extends _base

block vars
   - var title = "Students"
   - var body_id = "student-map"
block content
   #student-globe
block foot
block append scripts
   script(src="js/libs/webglearth2.min.js")
   script.
      $(function () {
         var earth = new WE.map('student-globe', {sky: true, atmosphere: true});
         WE.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(earth);
      });