//
   Created by sunny on 2015/4/4.
extends _base
block vars
   - var title = "Students list"
   - var body_id = "photo"
   - var footer_shaded = true
block content
   include _splash
   include _navbar
   .wrapper
      .modal#photo-modal
         .content
            a.close.switch(gumby-trigger='|#photo-modal')
               i.icon-cancel
            .row
               .ten.columns.centered.text-center
                  figure
                     img#photo-large(src="http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image001.jpg")
                     h3 Happy New Year Party of 2015/1/1
                     h4 first desciprion
                     img#photo-large-loading(src="img/loading.gif")

      section.row.grid-wrap
         h2 Academia alumni
         ul.grid.student_alumni.swipe-right#student_alumni
            +li_alumni("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image291.jpg")(title="Gao Lin")(school="cuhk")(position="Post-doctor")(fullschool="The Chinese University of Hong Kong")
            +li_alumni("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image208.jpg")(title="Zhang Guanglin")(school="donghua")(position="Associate Professor and Department Chair")(fullschool="Donghua University")
            +li_alumni("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image348.png")(title="Zhou Liang")(school="nupt")(position="Professor and Assistant dean")(fullschool="Nanjing University of Posts and Telecommunications")
            +li_alumni("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image316.jpg")(title="Li Dapeng")(school="nupt")(position="Associate Professor")(fullschool="Nanjing University of Posts and Telecommunications")
            +li_alumni("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image011.jpg")(title="Zheng Haifeng")(school="fuzhou")(position="Associate Professor")(fullschool="Fuzhou University")
            +li_alumni("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image006.jpg ")(title="Feng Xinxin")(school="fuzhou")(position="Lecturer")(fullschool="Fuzhou University")
            +li_alumni("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image298.jpg")(title="Zhao Jun")(school="princeton")(position="Post-doctor")(fullschool="Princeton University")
            +li_alumni("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image349.jpg")(title="Ouyang Wenzhuo")(school="rice")(position="Post-doctor")(fullschool="Rice University")
         h2 Graduated in 2015
         ul.grid.student_list.swipe-right#student_2015
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/034.jpg")(title="Yu Tuo")(school="uiuc")(mail="yutuo@sjtu.edu.cn")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/023.jpg")(title="Gong Hongyu")(school="uiuc")(mail="1796030436@qq.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/031.jpg")(title="Zhao Lutian")(school="uiuc")(mail="zhaolutian1994@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/011.jpg")(title="Liang Shiyu")(school="uiuc")(mail="liangshiyu@icloud.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/024.jpg")(title="Liu Tianyuan")(school="uiuc")(mail="yuralty@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/001.jpg")(title="Zhang Qi")(school="umaa")(mail="362802781@qq.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/003.jpg")(title="Sheng Kaikai")(school="cit")(mail="shengkaikai@sjtu.edu.cn")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/002.jpg")(title="Kong Chao")(school="umaa")(mail="kongchao@sjtu.edu.cn")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/004.jpg")(title="Sun Ruijia")(school="cit")(mail="echoruiko@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/029.jpg")(title="Zhang Yang")(school="cmu")(mail="zhangyang93@rocketmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/005.jpg")(title="Shan Liqin")(school="cmu")(mail="shanliqin@foxmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/006.jpg")(title="Ge Xiaoyi")(school="cmu")(mail="gxy_shawn@163.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/007.jpg")(title="Zhu Xiaoguang")(school="cmu")(mail="364355375@qq.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/010.jpg")(title="Wang Qi")(school="columbia")(mail="paoptu023@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/019.jpg")(title="Li Xiaowen")(school="columbia")(mail="littledanby@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/039.jpg")(title="Xu Qi")(school="columbia")(mail="xuqi@sjtu.edu.cn")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/020.jpg")(title="Wen Yutian")(school="oxford")(mail="nogerw@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/012.jpg")(title="Yu Hangchen")(school="uta")(mail="yuhc123@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/013.jpg")(title="Jiang Wanning")(school="duke")(mail="jwnlinda930@hotmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/027.jpg")(title="Wang Kainan")(school="ucla")(mail="sunnywkn@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/028.jpg")(title="Zhang Yuxi")(school="ucla")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/022.jpg")(title="Yuan Zengwen")(school="ucla")(mail="dayflower@sjtu.edu.cn")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/017.jpg")(title="Dingzhou Yihai")(school="ucla")(mail="dingdingyihai@sina.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/016.jpg")(title="Yao Chunnan")(school="ucla")(mail="yaochunnan@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/015.jpg")(title="Wang Huiyu")(school="ucla")(mail="williamwanghuiyu@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/037.jpg")(title="Ding Lei")(school="ucla")(mail="stoner@sjtu.edu.cn")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/014.jpg")(title="Zheng Guanjie")(school="psu")(mail="gjzheng93@163.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/008.jpg")(title="Xie Jin")(school="northeastern")(mail="546641978@qq.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/009.jpg")(title="Chen Xiangyu")(school="hku")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/018.jpg")(title="Cao Weijian")(school="sjtu")(mail="caoweijian1992@sjtu.edu.cn")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/021.jpg")(title="Zhang Zhiyuan")(school="pku")(mail="zhangzhiyuan.michael@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/025.jpg")(title="Luo Ruotian")(school="ttic")(mail="luoruotian123@163.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/026.jpg")(title="Ma Haiwei")(school="unm")(mail="memorydavid@126.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/030.jpg")(title="Zhou Hao")(school="northwestern")(mail="howardzhou92@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/032.jpg")(title="Wang Tianyu")(school="osu")(mail="a356789xe@126.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/038.jpg")(title="Wang Xiang")(school="nyu")(mail="369172385@qq.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/033.jpg")(title="Chen Ji")(school="ucd")(mail="chenji118@sina.cn")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/036.jpg")(title="Cheng Minhao")(school="ucd")(mail="cmhcbb@163.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/map/photo/035.jpg")(title="Xiao Xin")(school="ua")(mail="mhthlxx@gmail.com")



         h2 Graduated in 2014
         ul.grid.student_list.swipe-right#student_2014
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image096.jpg")(title="Liu Yushan")(school="princeton")(mail="yushan@princeton.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image099.jpg")(title="Chen Yichen")(school="princeton")(mail="simonchen1992@hotmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image104.jpg")(title="Li Hongquan")(school="stanford")(mail="hongquan.li@stanford.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image107.jpg")(title="Yao Shuochao")(school="uiuc")(mail="yaoshuochao@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image101.jpg")(title="Zhao Yiran")(school="uiuc")(mail="zzhaoyiran@163.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image108.jpg")(title="Mao Xueyu")(school="uta")(mail="maoxueyu@foxmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image114.jpg")(title="Chen Yitao")(school="uta")(mail="albrechtdirac@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image119.jpg")(title="Wang Qi")(school="uta")(mail="wq911206@163.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image111.jpg")(title="Hu Yitao")(school="usc")(mail="yitaoh@usc.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image116.jpg")(title="Wang Xu")(school="northwestern")(mail="wsjtux@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image121.jpg")(title="Liu Jinshan")(school="vtu")(mail="jinshan@vt.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image124.jpg")(title="Liu Liang")(school="git")(mail="349992976@qq.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image127.jpg")(title="Xiong Fengjia")(school="ucla")(mail="Fxiong1992@ucla.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image130.jpg")(title="Zhang Da")(school="ucsb")(mail="zhangda.sjtu@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image134.jpg")(title="Zhou Pengzhan")(school="usb")(mail="pengzhan.zhou@stonybrook.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image138.jpg")(title="Yang Zhe")(school="sjtu")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image143.jpg")(title="Liu Jiaqi")(school="sjtu")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image141.jpg")(title="Xu Jiaqi")(school="osu")(mail="xu.1629@buckeyemail.osu.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image146.jpg")(title="Feng Xiao")(school="thu")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image145.jpg")(title="Wang Liran")(school="xidian")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image149.jpg")(title="Sun Tingting")(school="xidian")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image151.jpg")(title="Geng Xiaoyan")(school="xidian")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image152.jpg")(title="Wang Fan")(school="railway")(mail="vampirefanmail@gmail.com")

         h2 Graduated in 2013
         ul.grid.student_list.swipe-right#student_2013
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image153.jpg")(title="Liang Qingkai")(school="mit")(mail="qingkai@mit.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image155.jpg")(title="Li Yixuan")(school="cornell")(mail="yl2363@cornell.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image162.jpg")(title="Xu Wenjun")(school="columbia")(mail="xwj_0641@hotmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image158.jpg")(title="Lu Xin")(school="columbia")(mail="ninerlux@qq.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image166.jpg")(title="Zhao Jiuyang")(school="columbia")(mail="zhaojiuyangsjtu@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image160.jpg")(title="Han Sihui")(school="umaa")(mail="sihuihan@umich.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image164.jpg")(title="Chen Dongyao")(school="umaa")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image167.jpg")(title="Qiu Hang")(school="usc")(mail="hangqiu@usc.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image169.jpg")(title="Shi Qi")(school="usc")(mail="sq4101481@sjtu.edu.cn")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image168.jpg")(title="Wang Xinyu")(school="uta")(mail="xwang9@utexas.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image170.jpg")(title="Zheng Jiaqiao")(school="uta")(mail="zhengjiaxiao911@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image171.jpg")(title="Yin Ping")(school="ucsd")(mail="joshuapyin@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image174.jpg")(title="Zhuang Weixu")(school="ucsd")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image378.jpg")(title="Dai Ji")(school="ucsd")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image173.jpg")(title="Wu Yun")(school="uta")(mail="ywu910318@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image175.jpg")(title="Cao Xuanyu")(school="umcp")(mail="apogne@umd.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image177.jpg")(title="Liu Weijie")(school="uiuc")(mail="wliu43@illinois.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image179.jpg")(title="Huang Xin")(school="rice")(mail="xinh@rice.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image178.jpg")(title="Du Pengyuan")(school="ucla")(mail="pengyuandu@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image181.jpg")(title="Wang Yanxin")(school="ucla")(mail="mars910209@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image185.jpg")(title="Yang Xican")(school="ucla")(mail="luffy652756056@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image187.jpg")(title="Cao Yanming")(school="ucla")(mail="yanmingc7@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image182.jpg")(title="Wei Teng")(school="wisconsin")(mail="twei7@wisc.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image186.jpg")(title="Qian Zhenzhi")(school="osu")(mail="qzzmoney@sina.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image188.jpg")(title="Yin Jikai")(school="uci")(mail="sjtudyyjk@gmail.com ")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image191.jpg")(title="Wang Chu")(school="mgu")(mail="196119659@qq.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image195.jpg")(title="Wang Xiaowei")(school="mgu")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image193.jpg")(title="Liu Siyang")(school="sjtu")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image197.jpg")(title="Liu Ran")(school="northeastern")(mail="Liu.ran1@Husky.neu.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image199.jpg")(title="Zhao Yijin")(school="waseda")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image034.jpg")(title="Chen Ge")(school="ecp")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image202.jpg")(title="Zhou Kai")(school="msu")(mail="beyondzk@sjtu.edu.cn")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image206.jpg")(title="Ma Wenjia")(school="cmu")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image208.jpg")(title="Zhang Guanglin(joint with Prof. Youyun Xu)")(school="cuhk")(mail="glzhang@dhu.edu.cn")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image210.jpg")(title="Yang Sen")(school="git")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image211.jpg")(title="Xie Changliang")(school="qq")(mail="545570733@qq.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image213.jpg")(title="Qian Chunhua")(school="pwc")(mail="allison.qian@qq.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image217.jpg")(title="Cheng Peng (joint with Prof. Hui Yu)")(school="baidu")(mail="261841747@qq.com")
         h2 Graduated in 2012
         ul.grid.student_list.swipe-right#student_2012
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image030.jpg")(title="Yu Tuo")(school="sjtu")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image220.jpg")(title="Li Yingzhe")(school="uta")(mail="lyz8991@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image221.jpg")(title="Dong Mo")(school="uiuc")(mail="modong2@illinois.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image223.jpg")(title="Liu Zhuotao")(school="uiuc")(mail="zliu48@illinois.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image225.jpg")(title="Gao Zhenhuan")(school="uiuc")(mail="lightmark@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image227.jpg")(title="Jin Haiming")(school="uiuc")(mail="hjin8@illinois.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image222.jpg")(title="Qu Zhengyang")(school="northwestern")(mail="ZhengyangQu2017@u.northwestern.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image224.jpg")(title="Luan Wentao")(school="umcp")(mail="wluan28@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image226.jpg")(title="Zhang Yiting")(school="columbia")(mail="yitingjessie@163.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image228.jpg")(title="Ding Qiushi")(school="columbia")(mail="ddqqssh@163.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image229.jpg")(title="Wu Yibo")(school="psu")(mail="iceworld0324@126.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image231.jpg")(title="Wu Chengyang")(school="rice")(mail="sunnywu228@126.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image232.jpg")(title="Li Jian")(school="tamu")(mail="vivickylj@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image234.jpg")(title="Xiang Liyao")(school="toronto")(mail="ashley20081010@126.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image236.jpg")(title="Huang Zhengni")(school="epfl")(mail="jane_5_21@msn.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image238.jpg")(title="Liu Ning")(school="hkust")(mail="liuning0124@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image240.jpg")(title="Xiao Xin")(school="sjtu")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image241.jpg")(title="Lv Zhiyi")(school="hku")(mail="zhiyilv@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image243.jpg")(title="Cui Jing")(school="qq")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image244.jpg")(title="Liu Wei")(school="mihoyo")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image245.jpg")(title="Chen Xi")(school="mgu")(mail="qfbzcx221@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image246.jpg")(title="Li Zhang")(school="purdue")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image248.jpg")(title="Cai Hao")(school="umass")(mail="hcai@umass.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image250.jpg")(title="Ding Ben")(school="huawei")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image252.jpg")(title="David Chiasson")(school="stanford")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image254.jpg")(title="Tao Yisi")(school="ucla")(mail="")
         h2 Graduated in 2011
         ul.grid.student_list.swipe-right#student_2011
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image255.jpg")(title="Huang Wentao")(school="cit")(mail="whuang@caltech.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image258.jpg")(title="Peng Qiuyu")(school="cit")(mail="qiuyupeng@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image257.jpg")(title="Xu Yuanzhong")(school="uta")(mail="ukoxyz@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image260.jpg")(title="Gao Yunlong")(school="uiuc")(mail="dg.gaoyunlong@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image261.jpg")(title="Wang Yun")(school="princeton")(mail="yunwang.sjtu@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image262.jpg")(title="Tang Huan")(school="ucd")(mail="th2526666@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image264.jpg")(title="Wang Xiao")(school="cmu")(mail="eureka1989@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image265.jpg")(title="Guo Anjin")(school="und")(mail="guoanjin@live.cn")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image267.jpg")(title="Zou Xinzhi")(school="und")(mail="xz.zou09@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image269.jpg")(title="Tang Yongbo")(school="toronto")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image270.jpg")(title="Zou Shaofeng")(school="syracuse")(mail="szou02@syr.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image272.jpg")(title="Hai Wu")(school="usc")(mail="tracywuhai12@hotmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image274.jpg")(title="Ye Feng")(school="unl")(mail="strangepotato@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image276.jpg")(title="Wu Zhengwei")(school="pennsylvania")(mail="zhengwei@seas.upenn.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image278.jpg")(title="Chen Haibo")(school="ucla")(mail="chenhaibo888@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image280.jpg")(title="Xu Xin")(school="osu")(mail="aimo2@126.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image281.jpg")(title="Zhao Jia")(school="git")(mail="jbamboo2009@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image282.jpg")(title="Xu Pengchao")(school="chinamobile")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image284.gif")(title="Liu Hui")(school="tuberlin")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image286.jpg")(title="Wang Hui")(school="huawei")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image287.jpg")(title="Gu Shen")(school="unionpay")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image289.jpg")(title="Liu Zhaoyuan")(school="marvell")(mail="")

         h2 Graduated in 2010
         ul.grid.student_list.swipe-right#student_2010
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image291.jpg")(title="Gao Lin")(school="cuhk")(mail="gaolin021@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image284.gif")(title="Wang Haobing")(school="uws")(mail="haobingwang1989@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image293.jpg")(title="Hu Chenhui")(school="harvard")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image295.jpg")(title="Chu Tian")(school="columbia")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image296.jpg")(title="Zhao Shizhen")(school="purdue")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image297.jpg")(title="Chu Xiaoyu")(school="umcp")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image298.jpg")(title="Zhao Jun")(school="cmu")(mail="junzhao@cmu.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image300.jpg")(title="Guo Jia")(school="ucla")(mail="syguojia@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image301.jpg")(title="Nie Ding")(school="und")(mail="nding1@nd.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image284.gif")(title="Cao Zizhong")(school="nyupu")(mail="zc347@nyu.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image304.jpg")(title="Chen Bo")(school="osu")(mail="12chenbo12@163.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image306.jpg")(title="Zhu Yuefei")(school="toronto")(mail="yzhu.sjtuer@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image307.jpg")(title="Zhang Siqi")(school="pennsylvania")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image309.jpg")(title="Zhang Yan")(school="hkust")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image310.jpg")(title="Si Wei")(school="boston")(mail="swboris@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image284.gif")(title="Yang Zicao")(school="thu")(mail="yangtze2301@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image312.jpg")(title="Luo Zhe")(school="sjtu")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image284.gif")(title="Xi Wenxing")(school="cas")(mail="wxxiii@126.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image315.jpg")(title="Yang Sen")(school="sjtu")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image316.jpg")(title="Li Dapeng")(school="nptu")(mail="dapengli@njupt.edu.cn")


         h2 Graduated in 2009
         ul.grid.student_list.swipe-right#student_2009
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image318.jpg")(title="Shang Shang")(school="princeton")(mail="shangshang1224@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image320.jpg")(title="Xue Dongyue")(school="osu")(mail="alexonlyworld@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image322.jpg")(title="Zhang Caoxie")(school="umaa")(mail="chossing@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image326.jpg")(title="Wang Qingsi")(school="umaa")(mail="qingsi@umich.edu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image324.jpg")(title="Li Zheng")(school="uta")(mail="zhengli0817@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image328.jpg")(title="Li Yun")(school="uiuc")(mail="liyun0427@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image330.jpg")(title="Yang Yang")(school="osu")(mail="tommy768yang@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image332.jpg")(title="Zheng Haiyang")(school="ncsu")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image334.jpg")(title="Bei Yuanzhe")(school="brandeis")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image336.jpg")(title="Lin Shudong")(school="mgu")(mail="Lsdsjtu@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image337.jpg")(title="Zhu Li")(school="usc")(mail="lizhu1025@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image338.jpg")(title="Liu Wei")(school="sjtu")(mail="forrest@mihoyo.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image340.jpg")(title="Xu Juefei")(school="cmu")(mail="juefei.xu@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image343.jpg")(title="Chen Guo")(school="kth")(mail="chenguo1986@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image250.jpg")(title="Ding Ben")(school="sjtu")(mail="bigben0204@163.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image345.jpg")(title="Cui Jing")(school="sjtu")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image346.jpg")(title="Fu Luoyi")(school="sjtu")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image348.png")(title="Zhou Liang")(school="nptu")(mail="")

         h2 Graduated in 2008
         ul.grid.student_list.swipe-right#student_2008
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image349.jpg")(title="Ouyang Wenzhuo")(school="osu")(mail="wenzoy@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image351.jpg")(title="Li Feng")(school="pttp")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image353.jpg")(title="Wang Lingyun")(school="vtu")(mail="wanglingyun9@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image354.jpg")(title="Gu Shen")(school="sjtu")(mail="gsgsgushen@sina.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image359.jpg")(title="Xu Pengchao")(school="sjtu")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image362.jpg")(title="Xu Wentao")(school="sjtu")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image357.jpg")(title="Sun Jiawei")(school="rutgers")(mail="alexandersjw@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image284.gif")(title="Yang Fan")(school="columbia")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image364.jpg")(title="Zhao Xing")(school="chinamobile")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image365.jpg")(title="Han Yun")(school="sybase")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image367.jpg")(title="Chen Zhuo")(school="rutgers")(mail="chenzhuo.no2@gmail.com")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image369.gif")(title="Ji Cheng")(school="spreadtrum")(mail="")

         h2 Graduated in 2007
         ul.grid.student_list.swipe-right#student_2007
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image371.jpg")(title="Liao Hongwei")(school="umaa")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image372.jpg")(title="Xie Shiguang")(school="vtu")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image284.gif")(title="Chen Si")(school="wpi")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image375.jpg")(title="Xu Zhe")(school="nyupu")(mail="")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image376.jpg")(title="Wu Yuan")(school="intel")(mail="")





block append scripts
   script(src="js/libs/modernizr.custom.js")
   script(src="js/libs/masonry.pkgd.min.js")
   script(src="js/libs/imagesloaded.pkgd.min.js")
   script(src="js/libs/classie.js")
   script(src="js/libs/colorfinder-1.1.js")
   script(src="js/libs/gridScrollFx.js")
   script.
      'use strict';
      new GridScrollFx(document.getElementById('student_alumni'),
              {viewportFactor: 0.4}
      );
      new GridScrollFx(document.getElementById('student_2015'),
              {viewportFactor: 0.4}
      );
      new GridScrollFx(document.getElementById('student_2014'),
              {viewportFactor: 0.4}
      );
      new GridScrollFx(document.getElementById('student_2013'),
              {viewportFactor: 0.4}
      );
      new GridScrollFx(document.getElementById('student_2012'),
              {viewportFactor: 0.4}
      );
      new GridScrollFx(document.getElementById('student_2011'),
              {viewportFactor: 0.4}
      );
      new GridScrollFx(document.getElementById('student_2010'),
              {viewportFactor: 0.4}
      );
      new GridScrollFx(document.getElementById('student_2009'),
              {viewportFactor: 0.4}
      );
      new GridScrollFx(document.getElementById('student_2008'),
              {viewportFactor: 0.4}
      );
      new GridScrollFx(document.getElementById('student_2007'),
              {viewportFactor: 0.4}
      );
      function leftPad(number, targetLength) {
         var output = number + '';
         while (output.length < targetLength) {
            output = '0' + output;
         }
         return output;
      }
      $('.student_list').find('a').click(function (e) {
         if($(this).find('img').attr('src')) {
            e.preventDefault();
            var modal = $("#photo-modal");
            modal.removeClass("loaded");
            var src = $(this).find('.student_name').attr('src');
            $('#photo-large').attr('src', src);
            $(modal).find('h3').text($(this).find('h3').text());
            $(modal).find('h4').html($(this).find('h4').html());
            modal.addClass('active');
            imagesLoaded(modal, function () {
               $(modal).addClass("loaded");
            });
         }
      });
      $('.student_alumni').find('a').click(function (e) {
         if($(this).find('img').attr('src')) {
            e.preventDefault();
            var modal = $("#photo-modal");
            modal.removeClass("loaded");
            var src = $(this).find('.student_name').attr('src');
            $('#photo-large').attr('src', src);
            $(modal).find('h3').text($(this).find('h3').text());
            $(modal).find('h4').html($(this).find('h4').html());
            modal.addClass('active');
            imagesLoaded(modal, function () {
               $(modal).addClass("loaded");
            });
         }
      });

