extends _base

block vars
   - var title = "Students"
   - var body_id = "student-map"
block content
   #student-globe
block foot
block append scripts
   script(src="js/libs/webglearth2.min.js")
   script.
      $(function () {
         var earth = new WE.map('student-globe', {atmosphere: true, proxyHost: '/proxy/'});
         WE.tileLayer('http://openmapsurfer.uni-hd.de/tiles/roads/x={x}&y={y}&z={z}').addTo(earth);
      });