//
   Created by sunny on 2015/4/4.
extends _base
block vars
   - var title = "Students list"
   - var body_id = "photo"
   - var footer_shaded = true
block content
   include _splash
   include _navbar
   .wrapper
      .modal#photo-modal
         .content
            a.close.switch(gumby-trigger='|#photo-modal')
               i.icon-cancel
            .row
               .ten.columns.centered.text-center
                  figure
                     img#photo-large(src="http://iwct.sjtu.edu.cn/Personal/xwang8/Photos.files/image001.jpg")
                     h3 Happy New Year Party of 2015/1/1
                     img#photo-large-loading(src="img/loading.gif")
      section.row.grid-wrap
         h2 Academia alumni
         ul.grid.student_alumni.swipe-right#student_alumni
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image291.jpg")(title="Gao Lin")(school="cuhk")(position="post-doc")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image208.jpg")(title="Zhang Guanglin")(school="donghua")(position="associate professor")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image348.png")(title="Zhou Liang")(school="nupt")(position="professor&assistant dean")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image316.jpg")(title="Li Dapeng")(school="nupt")(position="associate professor")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image011.jpg")(title="Zheng Haifeng")(school="fuzhou")(position="associate professor")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image006.jpg")(title="Feng Xinxin")(school="fuzhou")(position="lecturer")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image298.jpg")(title="Zhao Jun")(school="princeton")(position="post-doc")

         h2 Graduated in 2014
         ul.grid.student_list.swipe-right#student_2014
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image096.jpg")(title="Liu Yushan")(school="princeton")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image099.jpg")(title="Chen Yichen")(school="princeton")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image104.jpg")(title="Li Hongquan")(school="stanford")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image107.jpg")(title="Yao Shuochao")(school="uiuc")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image101.jpg")(title="Zhao Yiran")(school="uiuc")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image108.jpg")(title="Mao Xueyu")(school="uta")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image114.jpg")(title="Chen Yitao")(school="uta")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image119.jpg")(title="Wang Qi")(school="uta")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image111.jpg")(title="Hu Yitao")(school="usc")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image116.jpg")(title="Wang Xu")(school="northwestern")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image121.jpg")(title="Liu Jinshan")(school="vtu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image124.jpg")(title="Liu Liang")(school="git")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image127.jpg")(title="Xiong Fengjia")(school="ucla")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image130.jpg")(title="Zhang Da")(school="ucsb")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image134.jpg")(title="Zhou Pengzhan")(school="usb")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image138.jpg")(title="Yang Zhe")(school="sjtu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image143.jpg")(title="Liu Jiaqi")(school="sjtu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image141.jpg")(title="Xu Jiaqi")(school="osu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image146.jpg")(title="Feng Xiao")(school="thu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image145.jpg")(title="Wang Liran")(school="xidian")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image149.jpg")(title="Sun Tingting")(school="xidian")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image151.jpg")(title="Geng Xiaoyan")(school="xidian")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image152.jpg")(title="Wang Fan")(school="railway")

         h2 Graduated in 2013
         ul.grid.student_list.swipe-right#student_2013
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image153.jpg")(title="Liang Qingkai")(school="mit")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image155.jpg")(title="Li Yixuan")(school="cornell")

            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image162.jpg")(title="Xu Wenjun")(school="columbia")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image158.jpg")(title="Lu Xin")(school="columbia")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image166.jpg")(title="Zhao Jiuyang")(school="columbia")

            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image160.jpg")(title="Han Sihui")(school="umaa")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image164.jpg")(title="Chen Dongyao")(school="umaa")


            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image167.jpg")(title="Qiu Hang")(school="usc")

            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image169.jpg")(title="Shi Qi")(school="usc")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image168.jpg")(title="Wang Xinyu")(school="uta")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image170.jpg")(title="Zheng Jiaqiao")(school="uta")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image171.jpg")(title="Yin Ping")(school="ucsd")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image174.jpg")(title="Zhuang Weixu")(school="ucsd")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image173.jpg")(title="Wu Yun")(school="uta")

            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image175.jpg")(title="Cao Xuanyu")(school="umcp")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image177.jpg")(title="Liu Weijie")(school="uiuc")

            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image179.jpg")(title="Huang Xin")(school="rice")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image178.jpg")(title="Du Pengyuan")(school="ucla")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image181.jpg")(title="Wang Yanxin")(school="ucla")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image185.jpg")(title="Yang Xican")(school="ucla")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image187.jpg")(title="Cao Yanming")(school="ucla")

            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image182.jpg")(title="Wei Teng")(school="wisconsin")

            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image186.jpg")(title="Qian Zhenzhi")(school="osu")

            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image188.jpg")(title="Yin Jikai")(school="uci")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image191.jpg")(title="Wang Chu")(school="mgu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image195.jpg")(title="Wang Xiaowei")(school="mgu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image193.jpg")(title="Liu Siyang")(school="sjtu")

            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image197.jpg")(title="Liu Ran")(school="northeastern")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image199.jpg")(title="Zhao Yijin")(school="waseda")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image034.jpg")(title="Chen Ge")(school="ecp")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image202.jpg")(title="Zhou Kai")(school="msu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image206.jpg")(title="Ma Wenjia")(school="cmu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image208.jpg")(title="Zhang Guanglin(joint with Prof. Youyun Xu)")(school="cuhk")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image210.jpg")(title="Yang Sen")(school="git")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image211.jpg")(title="Xie Changliang")(school="qq")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image213.jpg")(title="Qian Chunhua")(school="pwc")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image217.jpg")(title="Cheng Peng (joint with Prof. Hui Yu)")(school="baidu")

         h2 Graduated in 2012
         ul.grid.student_list.swipe-right#student_2012
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image030.jpg")(title="Yu Tuo")(school="sjtu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image220.jpg")(title="Li Yingzhe")(school="uta")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image221.jpg")(title="Dong Mo")(school="uiuc")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image223.jpg")(title="Liu Zhuotao")(school="uiuc")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image225.jpg")(title="Gao Zhenhuan")(school="uiuc")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image227.jpg")(title="Jin Haiming")(school="uiuc")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image222.jpg")(title="Qu Zhengyang")(school="northwestern")

            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image224.jpg")(title="Luan Wentao")(school="umcp")

            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image226.jpg")(title="Zhang Yiting")(school="columbia")

            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image228.jpg")(title="Ding Qiushi")(school="columbia")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image229.jpg")(title="Wu Yibo")(school="psu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image231.jpg")(title="Wu Chengyang")(school="rice")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image232.jpg")(title="Li Jian")(school="tamu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image234.jpg")(title="Xiang Liyao")(school="toronto")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image236.jpg")(title="Huang Zhengni")(school="epfl")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image238.jpg")(title="Liu Ning")(school="hkust")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image240.jpg")(title="Xiao Xin")(school="sjtu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image241.jpg")(title="Lv Zhiyi")(school="hku")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image243.jpg")(title="Cui Jing")(school="qq")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image244.jpg")(title="Liu Wei")(school="mihoyo")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image245.jpg")(title="Chen Xi")(school="mgu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image246.jpg")(title="Li Zhang")(school="purdue")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image248.jpg")(title="Cai Hao")(school="umass")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image250.jpg")(title="Ding Ben")(school="huawei")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image252.jpg")(title="David Chiasson")(school="stanford")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image254.jpg")(title="Tao Yisi")(school="ucla")

         h2 Graduated in 2011
         ul.grid.student_list.swipe-right#student_2011
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image255.jpg")(title="Huang Wentao")(school="cit")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image258.jpg")(title="Peng Qiuyu")(school="cit")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image257.jpg")(title="Xu Yuanzhong")(school="uta")

            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image260.jpg")(title="Gao Yunlong")(school="uiuc")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image261.jpg")(title="Wang Yun")(school="princeton")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image262.jpg")(title="Tang Huan")(school="ucd")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image264.jpg")(title="Wang Xiao")(school="cmu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image265.jpg")(title="Guo Anjin")(school="und")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image267.jpg")(title="Zou Xinzhi")(school="und")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image269.jpg")(title="Tang Yongbo")(school="toronto")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image270.jpg")(title="Zou Shaofeng")(school="syracuse")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image272.jpg")(title="Hai Wu")(school="usc")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image274.jpg")(title="Ye Feng")(school="unl")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image276.jpg")(title="Wu Zhengwei")(school="pennsylvania")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image278.jpg")(title="Chen Haibo")(school="ucla")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image280.jpg")(title="Xu Xin")(school="osu")

            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image281.jpg")(title="Zhao Jia")(school="git")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image282.jpg")(title="Xu Pengchao")(school="chinamobile")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image284.gif")(title="Liu Hui")(school="tuberlin")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image286.jpg")(title="Wang Hui")(school="huawei")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image287.jpg")(title="Gu Shen")(school="unionpay")

            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image289.jpg")(title="Liu Zhaoyuan")(school="marvell")

         h2 Graduated in 2010
         ul.grid.student_list.swipe-right#student_2010
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image291.jpg")(title="Gao Lin")(school="cuhk")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image284.gif")(title="Wang Haobing")(school="uws")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image293.jpg")(title="Hu Chenhui")(school="harvard")

            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image295.jpg")(title="Chu Tian")(school="columbia")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image296.jpg")(title="Zhao Shizhen")(school="purdue")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image297.jpg")(title="Chu Xiaoyu")(school="umcp")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image298.jpg")(title="Zhao Jun")(school="cmu")

            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image300.jpg")(title="Guo Jia")(school="ucla")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image301.jpg")(title="Nie Ding")(school="und")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image284.gif")(title="Cao Zizhong")(school="nyupu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image304.jpg")(title="Chen Bo")(school="osu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image306.jpg")(title="Zhu Yuefei")(school="toronto")

            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image307.jpg")(title="Zhang Siqi")(school="pennsylvania")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image309.jpg")(title="Zhang Yan")(school="hkust")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image310.jpg")(title="Si Wei")(school="boston")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image284.gif")(title="Yang Zicao")(school="thu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image312.jpg")(title="Luo Zhe")(school="sjtu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image284.gif")(title="Xi Wenxing")(school="cas")

            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image315.jpg")(title="Yang Sen")(school="sjtu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image316.jpg")(title="Li Dapeng")(school="nptu")


         h2 Graduated in 2009
         ul.grid.student_list.swipe-right#student_2009
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image318.jpg")(title="Shang Shang")(school="princeton")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image320.jpg")(title="Xue Dongyue")(school="osu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image322.jpg")(title="Zhang Caoxie")(school="umaa")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image326.jpg")(title="Wang Qingsi")(school="umaa")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image324.jpg")(title="Li Zheng")(school="uta")

            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image328.jpg")(title="Li Yun")(school="uiuc")

            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image330.jpg")(title="Yang Yang")(school="osu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image332.jpg")(title="Zheng Haiyang")(school="ncsu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image334.jpg")(title="Bei Yuanzhe")(school="brandeis")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image336.jpg")(title="Lin Shudong")(school="mgu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image337.jpg")(title="Zhu Li")(school="usc")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image338.jpg")(title="Liu Wei")(school="sjtu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image340.jpg")(title="Xu Juefei")(school="cmu")

            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image343.jpg")(title="Chen Guo")(school="kth")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image250.jpg")(title="Ding Ben")(school="sjtu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image345.jpg")(title="Cui Jing")(school="sjtu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image346.jpg")(title="Fu Luoyi")(school="sjtu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image348.png")(title="Zhou Liang")(school="nptu")

         h2 Graduated in 2008
         ul.grid.student_list.swipe-right#student_2008
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image349.jpg")(title="Ouyang Wenzhuo")(school="osu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image351.jpg")(title="Li Feng")(school="pttp")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image353.jpg")(title="Wang Lingyun")(school="vtu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image354.jpg")(title="Gu Sen")(school="sjtu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image359.jpg")(title="Xu Pengchao")(school="sjtu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image362.jpg")(title="Xu Wentao")(school="sjtu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image357.jpg")(title="Sun Jiawei")(school="rutgers")

            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image284.gif")(title="Yang Fan")(school="columbia")

            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image364.jpg")(title="Zhao Xing")(school="chinamobile")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image365.jpg")(title="Han Yun")(school="sybase")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image367.jpg")(title="Chen Zhuo")(school="rutgers")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image369.gif")(title="Ji Cheng")(school="spreadtrum")

         h2 Graduated in 2007
         ul.grid.student_list.swipe-right#student_2007
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image371.jpg")(title="Liao Hongwei")(school="umaa")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image372.jpg")(title="Xie Shiguang")(school="vtu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image284.gif")(title="Chen Si")(school="wpi")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image375.jpg")(title="Xu Zhe")(school="nyupu")
            +li_stu_img_sch("http://iwct.sjtu.edu.cn/Personal/xwang8/students.files/image376.jpg")(title="Wu Yuan")(school="intel")





block append scripts
   script(src="js/libs/modernizr.custom.js")
   script(src="js/libs/masonry.pkgd.min.js")
   script(src="js/libs/imagesloaded.pkgd.min.js")
   script(src="js/libs/classie.js")
   script(src="js/libs/colorfinder-1.1.js")
   script(src="js/libs/gridScrollFx.js")
   script.
      'use strict';
      new GridScrollFx(document.getElementById('student_alumni'),
              {viewportFactor: 0.4}
      );
      new GridScrollFx(document.getElementById('student_2014'),
              {viewportFactor: 0.4}
      );
      new GridScrollFx(document.getElementById('student_2013'),
              {viewportFactor: 0.4}
      );
      new GridScrollFx(document.getElementById('student_2012'),
              {viewportFactor: 0.4}
      );
      new GridScrollFx(document.getElementById('student_2011'),
              {viewportFactor: 0.4}
      );
      new GridScrollFx(document.getElementById('student_2010'),
              {viewportFactor: 0.4}
      );
      new GridScrollFx(document.getElementById('student_2009'),
              {viewportFactor: 0.4}
      );
      new GridScrollFx(document.getElementById('student_2008'),
              {viewportFactor: 0.4}
      );
      new GridScrollFx(document.getElementById('student_2007'),
              {viewportFactor: 0.4}
      );
      function leftPad(number, targetLength) {
         var output = number + '';
         while (output.length < targetLength) {
            output = '0' + output;
         }
         return output;
      }
      $('.student_list').find('a').click(function (e) {
         if($(this).find('img').attr('src')) {
            e.preventDefault();
            var modal = $("#photo-modal");
            modal.removeClass("loaded");
            var src = $(this).find('.student_name').attr('src');
            $('#photo-large').attr('src', src);
            $(modal).find('h3').text($(this).find('h3').text());
            modal.addClass('active');
            imagesLoaded(modal, function () {
               $(modal).addClass("loaded");
            });
         }
      });
      $('.student_alumni').find('a').click(function (e) {
         if($(this).find('img').attr('src')) {
            e.preventDefault();
            var modal = $("#photo-modal");
            modal.removeClass("loaded");
            var src = $(this).find('.student_name').attr('src');
            $('#photo-large').attr('src', src);
            $(modal).find('h3').text($(this).find('h3').text());
            modal.addClass('active');
            imagesLoaded(modal, function () {
               $(modal).addClass("loaded");
            });
         }
      });

