extends _base



block vars
   - var title = "Video"
   - var body_id = "appendix_video1"
   - var footer_shaded = true



block content
   include _splash
   include _navbar
   .wrapper
      section.row.padding_down
         article.eight.columns.centered
            h3 ARTcode: Turn Any Image into a Barcode
       section.row
         article.eight.columns.centered
            video(src="http://www.cs.sjtu.edu.cn/~wang-xb/ARTCode.mov"  height="360px" controls="controls")
         article.one.columns.centered
             a(href="http://www.cs.sjtu.edu.cn/~wang-xb/ARTCode.mov") Download
          article.eight.columns.centered
              h5 The ubiquitous QR code and some similar barcodes suffer from two common drawbacks — poor user experience and inability to be identified. <br/>In order to help users identify the barcodes as well as improve the aesthetics of these barcodes, we design ARTcode — Adaptive Robust doT matrix barCode. The key idea is to integrate data hiding techniques into barcode design. We turn an image into a dot matrix utilizing dithering algorithms and embed data into this dot matrix with data hiding techniques. We perform several pre-processing approaches in order to stabilize the embedding capacity as well as protrude the details of the original image.
